h1 {
    color: rgb(132, 0, 255);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.sample{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

main > .container {
    padding: 1em 15px 0 0;
}

div.mycard{
    margin: auto; 
    width: 18rem; 
}


.stars {
	text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

.stargrey {
	color: #96969d;
}
.stars > a{
    text-decoration: none;
}
.stars .star:hover,
.stars .star:hover ~ .star {	
    color: #fedc18;
	cursor: pointer;
}
