h1 {
    color: rgb(132, 0, 255);
}

div.sample{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

main{
    margin-top: 8em;
}

main > .container {
    padding: 60px 15px 0;
}

div.mycard{
    margin: auto; 
    width: 18rem; 
}

