
main{
    /* margin-top: 2em; */
    margin-bottom: 6em;
    margin-top: 6em;
}

footer{
    position: fixed;

    bottom: 0;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #858484;

    /* background-color: #333; */
	/* background-image: linear-gradient(#f5f5f5, #333333); */
	/* background: radial-gradient(at top, #f5f5f5, #333333); */
	
	color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}


footer div:nth-child(2){
	margin-top: 1%;
}
.dev a {
    color: white;
    text-decoration: inherit;
}
.dev p{
    text-align: left;
}
.dev span{
    text-decoration: underline;

}
.dev a:hover {
    text-decoration: underline;
}


#book_action{
    padding: 0.2em;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}



body::-webkit-scrollbar {
    
  width: 10px;

}


body::-webkit-scrollbar-track {

  background-image:linear-gradient(darkgrey, #a9a9a933); /* color of the tracking area */

}


body::-webkit-scrollbar-thumb {

  background-color: grey; 
  border-radius: 30px; 
  border: 3px solid lightgrey; 

}


#scroll_to_top {

  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 30px;
  right: 20px;
  z-index: 2;

}
.commentaire{
    margin: 0.1em;
    padding: 0.5em;
    background-color: rgba(140, 140, 140, 0.466);
    border: solid 0.1em;
    border-radius: 5px;
    border-color: rgba(55, 55, 55, 0.675);
}


.commentaire > h5{
    text-decoration: underline;
}

.commentaire > h5:hover{
    color:#4c5e82;
}

#ur_com{
    display: flex;
}

#ur_com > *{
    padding-right: 0.5em;
}