{% extends 'baseBS.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"> 
{% endblock %}
{% block content %}
<div class="card border-light mb-3 mycard">
    <div class="card-header">{{ book.title }}</div>
       
    <a href="{{ book.url }}" target='_blank'>
            <img src="{{ url_for('static', filename='images/'+book.img) }}" alt="Couverture de {{ book.title }}"
                    title="{{ book.title }}" class="card-img-top" />
    </a>
    {% if current_user.is_authenticated %}
        <div id="book_action">
                {% if book in current_user.favorites %}
                        <a href="{{ url_for('supp_favorite',book_id=book.id) }}">
                        <svg role="img" aria-label="[title]" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="red" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                        <title>unlike</title>
                        </svg>
                        </a>
                {% else %}
                        <a href="{{ url_for('add_favorite',book_id=book.id) }}">
                        <svg role="img" aria-label="[title]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                        <title>like</title>
                        </svg>
                        </a>
                {% endif %}
        </div>
        {% endif %}
    <div class="card-body">
        <h5 class="card-text card-footer">
                Auteur : {{ book.author }}
        </h5>
        <h6 class="card-text card-footer">
                Prix : {{ book.price }} €
        </h6>
    </div>
</div>
{% endblock %}
